# Ignorar archivos de dependencias de Visual Studio
# Carpeta bin
/bin/
/obj/
.vs/
*.suo

# Ignorar archivos de configuración de Visual Studio
*.suo
*.user
*.sln.docstates
*.vs/
*.exe
*.vb
*.vbproj
*.pdb

# Ignorar archivos de diseño de formularios
Sermiccsa/Formularios/FormPrincipal.Designer.vb
Sermiccsa/Formularios/FormReportes.Designer.vb

# Ignorar archivos y directorios del proyecto
Sermiccsa/Sermiccsa.vbproj
Sermiccsa/bin/
Sermiccsa/obj/

# Ignorar archivos de caché de Visual Studio
*.bak
*.cache
*.csproj.user