# Ignorar archivos de dependencias de Visual Studio
# Carpeta bin
/bin/
/obj/

# Ignorar archivos de configuracion de Visual Studio
*.suo
*.user
*.sln.docstates
*.vs/
*.exe

# Ignorar archivos de cache de Visual Studio
*.bak
*.cache
*.csproj.user